body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h2,
h3 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .2rem;
  transition: all 0.2s ease;
}

h3:hover {
  transition: all 0.2s ease;
  text-shadow: 0 0 white, -0.15rem 0 red, 0.15rem 0 cyan;
  font-weight: 800;
  font-size: 3rem;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 225px;
  flex-direction: column;
  align-content: center;
}




.text:hover {
  transition: all 0.2s ease;
  text-shadow: 0 0 white, -0.15rem 0 red, 0.15rem 0 cyan;
  font-weight: 1000;
}

.text {
  transition: all 0.2s ease;
}

@media (max-width: 900px) {
  .text {
    font-size: 3rem;
  }

  .container {
    padding-top: 150px;
  }

}

.logo {
  max-width: 10vw;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
  transition: all 0.2s ease;
}

.logo:hover {
  opacity: 0;
  transition: all 0.2s ease;
}

.logo2 {
  max-width: 10vw;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
  transition: all 0.2s ease;
  opacity: 0
}

.logo2:hover {
  opacity: 1 !important;
  transition: all 0.2s ease;
}

@media (max-width: 900px) {

  .logo,
  .logo2,
  .logo:hover,
  .logo2:hover {
    max-width: 25vw;
  }
}

@media (max-width: 900px) {

  .logo,
  .logo2,
  .logo:hover,
  .logo2:hover {
    max-width: 25vw;
  }
}

@media (min-width: 901px) {
  .hero-image-element {
    position: sticky;
    top: 0;
    left: 0;
  }

  .mobim {
    display: none !important;
  }
}

@keyframes text-flow {
  25% {
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(50px);
    font-variation-settings: "wght" 700, "wdth" 100;
  }

  75% {
    transform: translateY(0%);
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(-135deg);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(255, 0, 0, .5) 0%, black 25%, black 75%, rgba(0, 255, 255, .5) 100%);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.0.5);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .75);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, .25) !important;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(255, 0, 0, .5) 0%, black 25%, black 75%, rgba(0, 255, 255, .5) 100%);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.0.5);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .75);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, .25) !important;
  transition: all 0.2s ease-in-out;
}



@media (max-width: 900px) {
  .roothead iframe {
    width: 400px !important;
    height: 400px !important;
  }
}

:root {
  font-size: 16px
}

@media (max-width: 500px) {
  :root {
    font-size: 14px
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1 {
  font-size: 5rem
}

h2 {
  font-size: 2rem
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

header {
  height: 100vh;
  background: url(https://i.imgur.com/A0b3f6H.jpeg);
}

footer {
  height: 50vh
}

.df {
  display: flex
}

.aic {
  align-items: center
}

.jcc {
  justify-content: center
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://i.imgur.com/A0b3f6H.jpeg);
  color: white;
}

.demo-wrapper {
  overflow: hidden;
}

.wrapper {
  display: flex;
  color: white
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
}

#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  ;
}

.youtube {
  text-align: center !important;
  z-index: 1000;
  pointer-events: all;

}

.soundcloud {
  z-index: 10;
  display: flex;
  min-width: 100px;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.sound, .sound2 {
  flex-direction: column;
  margin: 1vw;
  min-width: 100px;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  align-self: center;
}

@media only screen and (max-width:900px) {
  iframe{
    width:300px!important;
    height:300px!important;
  }
  .rooter{
    display:flex;
    justify-content: center;
  }

  footer{
    margin-bottom:12vh;
  }
}


.sound:hover,
.roothead:hover,
.roothead iframe:hover {
  box-shadow: 0 0 65px #31763d;
  transition: all 0.5s ease-in-out;
}

.sound2:hover{
  box-shadow: 0 0 65px red;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.sound:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .soundcloud {
    display: flex;
    align-content: center;
  }

  .sound {
    width: 300px;
    height: 300px;
    align-content: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  h3 {
    font-size: 1.25rem;
  }
}


.roothead,
iframe {
  transition: all 0.5s ease-in-out;
}

.footer {
  width: 100vw;
  height: 8vh;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: relative;
}

.footer-box {
  flex-basis: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
  text-shadow: -0.1rem 0 red, 0.1rem 0 cyan;
  letter-spacing: .5rem;
}

.footer-img {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 3rem;
}


@media (max-width: 900px) {
  .footer-box {
    flex-basis: calc(100% / 3);
  }

  .footer-img {
    display: none;
  }
}